html,body{
    background-image: url('https://wallpaper-house.com/data/out/10/wallpaper2you_403723.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

h2 {
    font-family: 'Numans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
  }

.card {
    background-color:rgba(30,30,30,0.4);
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
}

.card .card-body{
    color: white;
    background-color:rgba(30,30,30,0.4);
}
.table {
    margin-top: 3.5rem;
    color: white;
    background-color:rgba(30,30,30,0.6);
    width: 70%;
    margin-left: 14%;
  }

 
.table th {
    padding: .2em .8em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(10,10,10,0.5);
    text-align: center;
    height: 10px;
   
}
.table td {
    color: white;
    padding: .2em .8em;
    border: 1.2px solid rgba(112, 110, 110, 0.5);
    background: rgba(10,10,10,.5);
    text-align: left;
    height: 30px;
}

.my-custom-scrollbar {
  position: relative;
  height: 260px;
  overflow: auto;
  }
.table-wrapper-scroll-y {
  display: block;
  text-align: center;
  }

.btn-success{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background:  #4dbf1c;
    width: 50%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-left: 25%;
    margin-top: 3%;

} 
.btn-success:hover{
    background: #2f9204;
}

.btn-primary{
    margin-left: 20%;
}

#show-back{
    color: white;
    margin-top: 3%;
    position: absolute;
    margin-left: 35%;
    width: 25%;
}

#submit-create{
    color: white;
    margin-top: 3%;
    width: 25%;
    margin-left: 49%;
}
#back-create{
    color: white;
    margin-top: 3%;
    width: 25%;
    margin-left: 0%;
    position: absolute;
}
#show-table{
    margin-left: 37%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-header{
    text-align: center;
}

#video{
    margin-left: 30%;
}